.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-grey-light-1;
        transition: all .4s;
        visibility: hidden;

        

        &-header {
            font-family: 'Roboto Slab', serif;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 4.5rem;
            font-weight: 700;
            padding-bottom: 2.5rem;
        }

        &-text {
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: 1px;
            padding-bottom: 2.5rem;
        }

        &__box {
            
            &-btn {
                background: transparent;
                color:$color-grey-light-1;
                text-transform: uppercase;
                border: 1px solid $color-grey-light-1;
                transition: all .3s;
                padding: 1.5rem 2rem;

                &:hover {
                    color: $color-grey-dark-2;
                    background-color: $color-grey-light-1;
                    border: 1px solid $color-grey-dark-2;
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }
    }

    &-box1 {
        width: 100%;
        background-color: transparent !important;
        position: absolute;
        top: 0;
        z-index: 50;
        
    }

    &__menu {
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-blue-2;
        background-color: transparent;

        @media only screen and (max-width: $bp-medium) {
            justify-content: flex-start;
        }
        @media only screen and (max-width: $bp-small) {
            justify-content: flex-start;
        }


        &__container {
            width: 100%;
            display: flex;
            position: relative;

            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
                
            }
        }
        
        &__list {
            display: flex;
            list-style: none;
            padding: 1rem 2rem;
            flex: 0 0 33%;

            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
                padding: 0 2rem;
                flex: 0 0 10%;
            }

            &-right {
                flex: 0 0 33%;
                display: flex;  
                justify-content: flex-end;

                @media only screen and (max-width: $bp-medium) {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 2rem;
                    flex: 0 0 10%;
                }
                
                &:last-child {
                    padding-right: 3rem;
                }
            }

            &-icon {
                fill: $color-blue-2;
                width: 3rem;
                height: 3rem;
                opacity: .8;

                @media only screen and (max-width: $bp-medium) {
                    align-self: center;
                    justify-self: flex-end;
                }
            }

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: .5px;
                position: relative;
                white-space: nowrap;

                &:hover {
                    background-color: transparent;
                }

                @media only screen and (max-width: $bp-medium) {
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }

        
        &__img {
            display: flex;
            justify-content: center;
            width: 100%;

            @media only screen and (max-width: $bp-medium) {
                display: none;
            }

            &-logo {
                width: 10rem;
                height: 9rem;
            }
        }
    }

    &__box {
        
        &__img {
            height: 87vh;

            @media only screen and (max-width: $bp-largest) {
                height: 70vh;
            }

            @media only screen and (max-width: $bp-large) {
                height: 60vh;
            }

            &-1 {
                background-image: url(/img/car1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-2 {
                background-image: url(/img/car2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-3 {
                background-image: url(/img/car3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-content: center;

        &-link {
            text-decoration: none;
            text-transform: uppercase; 
            text-align: center;
            padding: 2rem;
            font-size: 2rem;
            color: inherit;
            border-bottom: 1px solid $color-blue-2;    
            width: 60%;
        }
    }
}
